
# PlanAhead Generated physical constraints
NET "clk"    LOC = C9  | IOSTANDARD = LVCMOS33;
NET "reset"  LOC = K17 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button" LOC = D18 | IOSTANDARD = LVTTL | PULLDOWN;
NET "rx"     LOC = R7  | IOSTANDARD = LVTTL ;
NET "tx"     LOC = M14 | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW ;
NET "led[7]" LOC = F9  | IOSTANDARD = LVTTL | DRIVE = 8;
NET "led[6]" LOC = E9  | IOSTANDARD = LVTTL | DRIVE = 8;
NET "led[5]" LOC = D11 | IOSTANDARD = LVTTL | DRIVE = 8;
NET "led[4]" LOC = C11 | IOSTANDARD = LVTTL | DRIVE = 8;
NET "led[3]" LOC = F11 | IOSTANDARD = LVTTL | DRIVE = 8;
NET "led[2]" LOC = E11 | IOSTANDARD = LVTTL | DRIVE = 8;
NET "led[1]" LOC = E12 | IOSTANDARD = LVTTL | DRIVE = 8;
NET "led[0]" LOC = F12 | IOSTANDARD = LVTTL | DRIVE = 8;

#Created by Constraints Editor (xc3s500e-fg320-4) - 2015/10/10
NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 20 ns HIGH 40%;
